:root {
    --main-color: #4d7a26;
    --secondary-color: #ffd642;
    font-family: tahoma;
}

body {
    width: 1000px;
    margin-left: calc(50% - 500px);
}

.logo {
    float: left;
    height: 25px;
}

.main-header {
    display: inline-block;
    margin-top: 25px;
    width: 1000px;
}

.main-header > nav > a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    margin-left: 1em;
    padding: 15px;
    display: inline-block;
    line-height: 0.1em;
    transition: all 0.5s;
}

.main-nav {
    float: right;
    margin-top: -3px;
}

.main-nav > a:last-child {
    margin-right: 0px;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.main-nav > a:last-child:hover {
    background-color: var(--secondary-color);
    color: black;
}
.main-nav > a:hover {
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.left-section {
    margin-top: 80px;
    float: left;
    width: 450px;
    height: 800px;
}

.right-section {
    margin-top: 80px;
    float: right;
    width: 450px;
    height: 800px;
}

.left-dish {
    background-color: var(--main-color);
    width: 215px;
    height: 350px;
    float: left;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px gray;
}

.right-dish {
    background-color: var(--main-color);
    width: 215px;
    height: 350px;
    float: right;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px gray;
}

.dish {
    margin-top: -90px;
    margin-left: 17px;
}

.dish-title {
    font-size: 16px;
    color: white;
    font-weight: 100;
    text-align: center;
}

.dish-description {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.section-title {
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 0px;
}

.right-content {
    width: 400px;
    height: 243px;
    align-items: center;
    margin-left: 32px;
}

.right-content > p {
    margin-bottom: 40px;
}

.recipe-button {
    background-color: var(--secondary-color);
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 55px;
    transition: all 0.3s;
}

.recipe-button:hover {
    box-shadow: 0px 4px 10px 2px #aaaa;
}

.button-free-trial {
    background-color: var(--main-color);
    text-decoration: none;
    color: white;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: all 0.5s;
}

.button-free-trial:hover {
    background-color: var(--secondary-color);
    color: black;
}

@media (max-width: 1000px) {
    body{
        width: 450px;
        margin-left: calc(50% - 225px);
    }
    
    .main-nav {
        width: 350px;
    }
    .main-header{
        width: 450px;
    }
    .right-section {
        display: block;
        float: none;
        width: 450px;
    }
    .left-section {
        display: block;
        float: none;
        width: 450px;
    }
}